# Configurazione Firebase per Progetto 118shifts
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=118shifts.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=118shifts
VITE_FIREBASE_STORAGE_BUCKET=118shifts.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
